
/* FAQ */

.FAQ-main-h1{
  margin-left: 10px;
  font-size:16px;
}

.FAQ-question-div{
  margin: 10px;
  font-size:14px;
}

.FAQ-question-div-h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FAQ-button{
  height:30px;
  width:30px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size:20px;
  border-color: #98A2B3;
}