/* LabWorking.css */

.container {
    width: 100%;
    max-width: 640px;
    padding: 16px;
  }
  
  .heading {
    font-size:16px;
    font-weight: 600;
    color: #050A4E;
  }
  
  .steps {
    display: flex;
    flex-direction: column;
    
  }
  
  .step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    margin-left: 24px;
  }
  
  .step-icon {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    color: #2563eb; 
  }
  
  .step-description {
    color:  var(--Colors-Gray-cool-700, #47566A);
    font-size: 0.875rem;
    flex: 1;
  }

  .packageCard{
    display: flex;
    justify-content: start;
    align-items: start;
  }
  