* {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.headerContainer {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  margin: 14px 16px;
}

.actionContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 8px;
}
.walletIcon,
.cartIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.walletIcon {
  width: 46px; 
}

.iconWithBadge {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -4px;
  left: 20px;
  background-color: #1976d2;
  color: white;
  border-radius: 12px;
  border: 2px solid white;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.iconWithBadge .cartIcon + .badge {
  left: 16px; 
}
.locationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Text-Grey-900, #2e3742);
}

.locationIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.locationContent {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.locationTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.locationArrow {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.locationAddress {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
}



/* searchbar */

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 16px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #4a4a4a;
  background-color: transparent;
  
}

.search-input::placeholder {
  color: #a0a0a0;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.search-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}




/* Grid layout */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 6px 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  width: 100px;
}




.card-icon {
  width: 50px;
  height:50px;
  margin-bottom: 10px;
}


.card-title {
  font-size: 12px;
  color: #050A4E;
  font-weight: 400;
}


/*pregnancy care banner*/
.bannerContainer {
  border-radius: 15.61px;
  background: var(--Colors-Pink-50, #fde9f7);
  box-shadow: 0px 0.976px 3.902px 0px rgba(0, 0, 0, 0.04),
    0px 3.902px 9.756px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
  margin: 0px 20px;
  margin-bottom: 24px;
  font: 10px var(--global-typography-type-face-font-family-body, "Lexend Deca");
  position: relative;
}

.contentWrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding:14px;
}

.bannerTitle {
  color:  #2E3742;
  font: 600 14px/18px Lexend Deca, -apple-system, Roboto, Helvetica, sans-serif;
}

.bannerDescription {
  color: var(--Text-Grey-900, #2e3742);
  font-weight: var(--Text-bannerbody-m-regular-font-weight, 400);
  line-height: 1.6;
  align-self: stretch;
}

.ctaContainer {
  display: flex;
  margin-top: 16px;
  align-items: center;
  gap: 6px;
  color: var(--Creatives-Pink-Text, var(--Colors-Pink-700, #922b73));
  font-weight: var(--Text-bannercta-m-semibold-font-weight, 600);
  text-transform: uppercase;
  line-height: 1.4;
}

.ctaButton {
  background: none;
  border: none;
  font-size:  14; 
  font-weight: 600;
  color: inherit; 
  cursor: pointer;
  padding: 0; 
}

.arrowIcon {
  object-fit: contain;
  object-position: center;
  width: 6px;
  align-self: stretch;
  margin: auto 0;
}

.image-background {
  width: 100px;
  height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
  transform: rotate(45deg);
  background-color: var(--Colors-Pink-700, #922B73);
  opacity: 20%;
  position: absolute; /* Allows it to stack */
  right: -15px;
  bottom: -28px;
}

.banner-image {
  width: 300px;
  object-fit: contain;
  border-radius: 30px;
  position: absolute; /* Allows it to stack */
  right: -65px; /* Align with background */
  bottom: -45px; /* Align with background */
  transform: scaleX(-1); /* Flips the image horizontally */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

