.Package-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Package-main-slider {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  
  .package-card-wrapper{
    background-color: #ffffff;
    border-radius:12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 16px;
  }

  .package-card {
  
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .package-card-h1 {
    font-size: 16px;
    font-weight:600;
    color: #050A4E;
    margin: 0;
  }
  
  .package-card-time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .package-card-time-h3 {
    font-size: 12px;
    font-weight: 400;
    color: #1778F2;
    margin: 0;
  }
  
  .package-icon {
    width: 12px;
    height: 12px;
  }
  
  .package-card-div-1 {
    width:300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
  }

  .package-card-div-2 {
    border-radius: 6px;
    background-color: #F8F8F8;
    padding: 10px;
    width:300px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  
  .package-card-nos{
    flex: 1;
  }

  .package-card-includes{
    display:block;
  }
  
  .package-card-nos-h3,
  .package-card-includes-h3{
    font-size: 12px;
    font-weight:600;
    color: #050A4E;
    margin: 0;
  }

  .package-card-fasting-h3 {
    font-size: 10px;
    font-weight:500;
    color: #050A4E;
    margin: 0;
    padding-bottom: 4px;
  }
  
  .package-card-nos-ul{
    list-style:disc;
    padding: 0;
    margin: 8px 0 0;
  }

  .package-card-nos-ul-li{
    margin-left:16px;
  }

  .package-card-nos-ul-li::marker {
    color: #4D5C6F; /* Disc color */
    font-size: 10px; /* Custom size for the disc */
  }

  .package-card-includes-ul {
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
  }
  
  .package-card-nos-h3-bland,
  .package-card-includes-h3-bland,
  .package-card-fasting-h3-bland {
    font-size: 10px;
    font-weight: 400;
    color: #4F4F4F;
  }
  
  .package-card-includes-li-div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .package-card-fasting,
  .package-card-avail {
    flex: 1;
  }
  
  .package-card-avail-insidediv {
    display: flex;
    align-items: center;
  }

  .package-card-avail-h3{
    font-size: 10px;
    font-weight: 400;
    color:#4f4f4f;
  }
  
  .package-card-cost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
  }
  
  .package-card-cost-insidediv1 {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
  }

  .package-card-cost-insidediv2 {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    gap:10px;
  }
  
  .package-card-cost-h3 {
    font-size: 14px;
    color: #555555;
    margin: 0;
    margin-right:10px;
  }

  .package-card-cost-h3-dis{
    font-size: 12px;
    font-weight: 600;
    color: #79AB28;
    background-color:#F6FFDF;
    margin: 0;
    margin-right:10px;
  }

  .package-card-cost-h3-2 {
    font-size: 12px;
    font-weight: 400px;
    color: #555555;
    margin: 0;
    margin-right:10px;
  }
  
  .package-card-cost-h3:first-child {
    text-decoration: line-through;
    color: #888888;
  }
  
  .package-card-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .package-card-button {
    background-color: #ffffff;
    color: #1778F2;
    padding: 4px 16px;
    border: 1px solid #1778F2;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  .package-card-counter{
    display: flex;
    background-color: #ffffff;
    color: #1778F2;
    padding: 4px 10px;
    border: 1px solid #1778F2;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 70px;
  }
  
  .package-card-extra {
    text-align: center;
    background-color: #5DA1F6;
    padding: 8px;
    color: white;
    border-radius: 0px 0px 12px 12px;

  }
  
  .package-card-counter-button{
    color: #1778F2;
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }

  .package-card-extra-h3 {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
  }

  .package-card-cashlessTag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: relative;
    justify-content: center;
    align-items: center; 
    border-radius: 0px 12px;
    background: var(--Success-Green-600, #459f49);
    overflow: hidden;
    font-size: 10px;
    color: var(--Grayscale-White, #fff);
    font-weight: 600;
    padding: 2px 11px;
  
  }

  .package-card-SponseredTag{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center; 
    border-radius: 0px 12px;
    background: var(--Success-Green-600, #459f49);
    align-self: end;
    overflow: hidden;
    font-size: 10px;
    color: var(--Grayscale-White, #fff);
    font-weight: 600;
    padding: 2px 11px;
  
  }